$btn-color: #128c7e;
$btn-hov: #078349;

$font-family-sans-serif: 'Arial', sans-serif;
$font-family-serif: 'Times New Roman', serif;

.login {
    font-family: $font-family-sans-serif;
    display: flex;
    width: 100vw;
    height: 100vh;

    &-box {
        display: flex;
        width: 100%;
    }

    &-loginSession {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &-welcomeSession {
        display: flex;
        width: 100%;
    }

    h2 {
        font-weight: 400;
    }

    &-input {
        border: none;
        border-radius: 0;
        border-bottom: 1px solid #7e8f9a !important;
        width: 400px;
    }

    &-input:focus {
        outline: none !important;
    }

    &-form {
        width: 100%;
    }

    &-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-inputBox {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }

    &-button {
        text-transform: uppercase;
        width: 150px;
        height: 40px;
        border-radius: 20px;
        transition: all 0.3s;
        font-size: 15px;
        color: white;
        font-weight: 500;
        background-color: rgb(35 230 204);
        // background: linear-gradient(to left, rgb(35 230 204) 50%, darken(rgb(35 230 204), 15%) 50%);
        background-size: 200% 100%;
        background-position: right bottom;
    }

    &-button:hover {
        transition: all 0.3s;
        color: rgb(35 230 204) !important;
        background-color: white !important;
        background-position: right bottom;
        background-size: 200% 100%;
        border-color: rgb(35 230 204) !important;
        transition: all 0.3s;
    }

    .ant-btn:hover,
    .ant-btn:focus:hover {
        text-transform: uppercase;
        width: 150px;
        border-radius: 20px;
        color: white;
        font-weight: 500;
        background-color: rgb(35 230 204);
        border-color: rgb(35 230 204);
    }

    &-welcomeSession {
        background: linear-gradient(180deg, #078349 0%, #5bd29a 100%);
        display: flex;
        justify-content: center;

        &-box {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &-title {
            h2 {
                text-transform: uppercase;
                color: white;
                font-weight: bold;
            }
        }

        &-logoBox {
            display: flex;
            justify-content: center;
        }

        &-quoteBox {
            width: 425px;
            height: 52px;

            p {
                text-align: center;
                color: white;
                font-size: 18px;
            }
        }
    }
}

.inputLogo {
    color: #128c7e;
    padding-right: 3px;
}

.pockets-forgot {
    span {
        font-size: 12px;
        font-weight: bold;
    }
}

@media screen and (max-width: 800px) {
    .login-welcomeSession {
        display: none; /* Hide welcome session */
    }
}
