.mainContent {
    width: 100%;
}

$btn-color: #128c7e;
$btn-hov: #078349;

.employee-details {
    margin: 0px;

    // employee-details_head
    &_head {
        display: flex;
        justify-content: space-between;
        margin: 20px 15px;
        align-items: center;

        &-text {
            margin: 0px;
            font-size: 20px;
        }

        &-create {
            background-color: $btn-color;
            border: 0px;
            padding: 0px 15px;
            border-radius: 10px !important;
            color: white;
            font-size: 14px;
            height: 45px;
        }

        &-create:hover {
            background-color: $btn-hov;
            border: 0px;
            color: white !important;
        }
    }

    &_submit {
        display: flex;
        justify-content: flex-end;
        padding-top: 10px;
        font-size: 18px;
        &-btn {
            padding: 0px 50px !important;
            background-color: $btn-color;
            color: white;
            border: 1px solid $btn-color;
            font-size: 18px;
            transition: background-color 0.3s, border-color 0.3s, color 0.3s;
        }
        &-btn:hover {
            color: $btn-color !important;
            border: 1px solid $btn-color !important;
        }
    }

    &_cancel-btn {
        padding: 0px 50px !important;
        color: $btn-color;
        border: 1px solid $btn-color;
        margin-right: 10px;
        font-size: 18px;
    }

    &_cancel-btn:hover {
        color: $btn-hov !important;
        border: 1px solid $btn-hov !important;
    }

    // form

    &_form {
        font-weight: 600;

        &_item {
            color: $btn-color;

            &-input {
                color: $btn-color;
                border: 1px solid $btn-color !important;
                border-radius: 6px;

                &:hover {
                    color: $btn-hov !important;
                    border: 1px solid $btn-hov !important;
                }
            }
            display: flex;
            align-items: center;
            .ant-form-item-label {
                width: 120px; // Adjust as needed
            }

            // Adjust the width of the input field and date picker
            .ant-form-item-control-input {
                flex: 1;

                // Ensure both input and date picker have the same width
                .ant-picker {
                    width: 100%;
                }
            }
        }

        &_dub {
            color: $btn-color;

            &-input {
                width: 300px; // Adjust width as needed
                color: $btn-color;
                border: 1px solid $btn-color !important;
                border-radius: 6px;

                &:hover {
                    color: $btn-hov !important;
                    border: 1px solid $btn-hov !important;
                }
            }
            display: flex;
            align-items: center;

            .ant-form-item-control {
                width: 300px; // Adjust width as needed
            }
            .ant-form-item-label {
                width: 120px;
            }
            .ant-form-item-control-input {
                flex: 1;

                .ant-picker {
                    width: 100%;
                }
            }
        }

        &-datepic {
            width: 100%;
            color: $btn-color;
            border: 1px solid $btn-color !important;

            &:hover {
                color: $btn-hov !important;
                border: 1px solid $btn-hov !important;
            }
        }
    }

    &_edit {
        font-size: 22px;
        color: $btn-color;

        &:hover {
            color: $btn-hov;
        }
    }

    &_delete {
        font-size: 22px;
        color: #ff4d4f;

        &:hover {
            color: #cd4a4a;
        }
    }

    &_uploade-photo {
        font-size: 50px;
        color: rgb(103, 117, 163);
    }

    &_uploade-icon {
        color: rgb(103, 117, 163);
    }

    &_photodelete {
        background-color: rgb(233, 227, 227);
        width: 30%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
    }

    &_delete_icon {
        font-size: 25px;
        color: rgb(104, 107, 107);
        border-left: 2px solid rgb(177, 181, 181);
        padding: 10px 0px 10px 2px;
        margin-left: 2px;
    }

    &_photodelete-para {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        display: -webkit-box;
        text-overflow: ellipsis;

        white-space: pre;
        overflow: hidden;
    }

    // table
    &_table-profile {
        width: 40px !important;
        height: 40px;
        border-radius: 50%;
    }
}

.modal_body {
    background-color: transparent !important;
    padding: 0 !important;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh; // Ensure the content is centered vertically
}

h3 {
    text-align: center;
    color: #078349;
}

.ant-form-item .ant-form-item-label > label {
    font-size: 18px;
}

.your-container {
    display: flex;
    align-items: center;
    gap: 32px;
    font-size: 24px;
    // font-weight: 800;

    span {
        font-size: 18px;
        color: #333;
    }

    .ant-switch {
        &-checked {
            background-color: #1890ff;
        }

        &-handle {
            background-color: #fff;
            border: 1px solid #1890ff;
        }

        &-inner {
            color: #fff;
        }

        &-checked + .ant-switch-inner {
            background-color: #1890ff;
        }

        &:focus {
            box-shadow: none;
        }
    }
}

@media (max-width: 900px) {
    .hide-on-small-screen {
        display: none;
    }
}

.gst-input {
    /* Default size */
    width: 100px; /* Adjust this value as per your requirement */
}

@media (max-width: 900px) {
    .gst-input {
        /* Adjusted size for smaller screens */
        width: 40px; /* Adjust this value for smaller screens */
    }
}
